/.cache/
/.mixin.out/
/att-debug/
/crash-reports/
/datapacks/
/mods/
/resourcepacks/
/saves/
/schematics/
/screenshots/
/shaderpacks/
/XaeroWaypoints/
/XaeroWaypoints_BACKUP032021/
/XaeroWorldMap/
/logs/
/bluemap/
emi.json
profile.json
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json